:root {
  --clr-black: #121212;
  --clr-black-light: hsl(0, 0%, 11%);
  --clr-gray: #828282;
  --clr-gray-light: #a9a9a9;
  --clr-white: #fafafa;
  --pd-x: 1.3rem;
  --lora: "Lora", serif;
  --crimson: "Crimson Pro", serif;
  --montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.navbar {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--pd-x);
  padding-top: 2.5rem;
}

.navbar .logo {
  font-size: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  text-transform: uppercase;
  border: 2px solid var(--clr-white);
  user-select: none;
}

.navbar .burger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.navbar .burger .burger-lines {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--clr-white);
  transition: opacity 0.3s ease-in-out;
}

.navbar .burger:hover .burger-lines:nth-child(odd) {
  opacity: 0;
}

.navbar .desktop-view {
  display: flex;
  align-items: center;
  gap: 2rem;
  display: none;
}

.navbar .desktop-view li {
  list-style: none;
}

.navbar .desktop-view li .desktop-links {
  color: var(--clr-white);
  text-decoration: none;
  font-family: var(--montserrat);
  font-weight: 500;
}

main {
  padding-block: 3.5rem;
  padding-inline: var(--pd-x);
}

.content > * + * {
  margin-top: 1.35rem;
}

.content .title {
  font-family: var(--lora);
  font-weight: 500;
  font-size: 2.5rem;
}

.content #description {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 0.85rem;
  width: 55%;
  line-height: 17.07px;
}

.content button {
  background-color: transparent;
  border: none;
  color: var(--clr-white);
  width: 10rem;
  text-align: start;
  display: flex;
  gap: 0.7rem;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1.1rem;
  align-items: center;
  cursor: pointer;
}

.img-container {
  position: relative;
}

.img-container #living-room {
  width: 100%;
  padding-top: 1rem;
  aspect-ratio: 16/10;
}

.profile-card {
  width: 21rem;
  background-color: var(--clr-black-light);
  padding: 1rem 1.5rem;

  position: absolute;
  bottom: -3.5rem;
  right: 50%;
  transform: translateX(50%);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

#profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.profile {
  font-family: var(--montserrat);
  font-weight: 500;
}

.profile > * {
  font-family: var(--montserrat);
  font-weight: 500;
}

.profile #profile-name {
  font-size: 0.85rem;
}

.profile #profile-job {
  font-size: 0.75rem;
  color: var(--clr-gray);
}

.card-desc {
  width: 70%;
  font-family: var(--lora);
  font-weight: 700;
  font-size: 1.2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-gray-light);
  font-family: var(--montserrat);
  font-weight: 500;
}

footer a {
  font-weight: 700;
  text-decoration: 1.5px underline var(--clr-gray-light);
  text-underline-position: under;
  color: var(--clr-gray-light);
  padding-inline: 0.2rem;
}

@media (width >= 48rem) {
  :root {
    --pd-x: 4rem;
  }

  .navbar .desktop-view {
    display: flex;
  }

  .navbar .desktop-view li:first-child a {
    text-decoration: 2px underline var(--clr-white);
    text-underline-position: under;
  }

  .navbar .mobile-view {
    display: none;
  }
}
